{{#each products}}
    <h3>{{this.productId.title}}</h3>
    <p>{{this.productId.description}}</p>
    <p>Su codigo es {{this.productId.code}}, vale ${{this.productId.price}} y hay {{this.productId.stock}} en stock</p>
{{/each}}

